@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-background;
}


@layer components {

    .shimmer {
        background: rgba(191, 191, 191, 0.08) linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%) no-repeat;
        overflow: clip;
        -webkit-animation-duration: 2s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: placeholderShimmer;
        -webkit-animation-timing-function: linear;
    }

    .shimmerRounded {
        @apply shimmer;
        @apply rounded-full;
    }

    .shimmer-text-l {
        @apply shimmer;
        @apply rounded;
        @apply h-5 w-56;
    }

    .shimmer-text-m {
        @apply shimmer;
        @apply rounded;
        @apply h-5 w-32;
    }

    .shimmer-text-s {
        @apply shimmer;
        @apply rounded;
        @apply h-5 w-16;
    }

    @keyframes placeholderShimmer {
        0% {
            background-position: -468px 0;
        }

        100% {
            background-position: 468px 0;
        }
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
